@import url('https://fonts.cdnfonts.com/css/dejavu-sans');

*,body ,h1,h2,h3,h4,h5,h6{
    font-family: 'Baloo Da', sans-serif;}
/* loading */
#loading {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 210vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.spinner-border{
    width: 5rem;
    height: 5rem;
}
div{
    flex-wrap: wrap;
}

body start
h1 {
    font-size: 60px;

}
.banner {
    max-width: 100%;
    max-height: 100%;
}
.banner .item1 {
    width: 100%;
    height: 100%;
}
/* item card */
.banner .item-card {
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width:100%;
    margin-right: 40px;
    background-color: rgb(199, 187, 14);
    overflow: hidden;
    border-radius: 20px;
}

.banner .item-card .img-container img{
   width: 100%;
   height: auto;
   background-repeat: no-repeat;
   background-size: contain;
    align-self: center;
}
.banner .item-card h3{
    font-size: 40px;
}

.banner .nameproduct {
  font-size: 40px;
  font-weight: bold;
}


.container {
  
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .banner section {
    width: 30%;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      width: 90%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px)  {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
  
    .container,
    .container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
  
    .container,
    .container-sm,
    .container-md {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
  
    .container,
    .container-sm,
    .container-md,
    .container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
  
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1140px;
    }
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters>.col,
  .no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }